<!DOCTYPE html>
<html>
<head>
	<title>URLShortener	</title>
</head>
<body>
	<h1>URL Shortener - Free Code Camp</h1>
	<h3>link creation:</h3>
	<p>https://mysterious-journey-64175.herokuapp.com/api/https://www.google.com</p>
	<h3>Output</h3>
	<p>https://mysterious-journey-64175.herokuapp.com/7530</p>

</body>
</html>